@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    
    
}
.novo-header img{
    width: 80px;
}
.menu-mobile{
    display: none;
}
footer{
    width: 100vw;
    height: 30vh;
    /* padding: 71px 48px; */
    background-color: #ac0606;
}
ul {
    display: flex;
    gap: 50px;
}
.itens-rodape{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
.titulos-rodape{
    margin-top: 20px;
}
.cabecalho{
    background-image: url(img/por\ do\ sol\ mureta.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: visible;
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    
}

.texto-cabecalho{
    color: #fff;
    position: absolute;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%);
    
}

.icones-cabecalho{
    color: white;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.localizacao{
    
    width: 300px;
    height: 300px;
}
.logo img{
    width: 150px;
}
.slider{
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
    
}
.slides input{
    display:none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 1s ease-out;
}
.slide img{
    width: 800px;
    height: 400px;
    
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #111010;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 385px;
    display: flex;
    justify-content: center;
    
}
.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: red;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: red;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: red;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: red;
}











.passeios{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: end; */
    gap: 12px;
    position: relative;
    top: 100px;
    
    
   
    
    
    

}

.passeio{
    border-radius: 20px;
    width: 180px;
    height: 400px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    position: relative;
    box-shadow: 2px 3px 4px 1px  grey;

}
.passeio p{
    margin-top: 12px;
}
.passeio button{
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: green;
    font-weight: 800;
    position: relative;
    left: 50%;
    transform:translate(-120%);
    cursor: pointer;
}
.passeio img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    position: relative;
}



@media (width<=576px){
    .slider{
        width: 350px;
        height: 200px;
    }
    .slide img{
        width: 350px;
        height: 200px;
    }
    .navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 180px;
    margin-left:-62%;    
    display: flex;
    justify-content: center;
    }
    .navigation-manual{
        position: absolute;
        width: 800px;
        margin-top: -220px;
        margin-left: -62%;
        display: flex;
        justify-content: center;
        
        
    }
    .texto-entrada-passeios{
        color: green;
        position:absolute;
        margin-top: 50px;
        left: 8%;
        
        text-align: center;
    }
    .cabecalho{
        display: block;
    }
    .logo{
        position: relative;
        top: 20%;
        left: -30px;
        display: none;
    }
    .texto-cabecalho{
        font-size: 10px;
        margin-top: 10px;
    }
    .nav-bar ul,.icones-cabecalho{
        display: none;
    }
    .passeios{
        width: 370px;
        height: 350px;
        
        /* display: flex; */
        
        
        top: 100px;
        
        overflow-x: auto;
        margin-left: 12px;
       
    }
        

    
    .passeio{
        width: 200px;
        height: 320px;
        background-color: #ec2300;
        margin-right: 12px;
        
        
        
        
    }

    .passeio img{
        width: 201px;
        height: 200px;
        border-radius: 12px;
        /* overflow: hidden; */
        
        
        
        
    }
    .abertura-servicos h2{
        color: green;
        position: relative;
        margin-top: 100px;
        
        text-align: center;
    }
    .servicos-oferecidos{
        display: flex;
        gap: 12px;
        overflow-x: auto;
        width: 370px;
        height: 170px;
        margin-left: 12px;
        
        margin-top: 10%;
    }
    

    .cada-servico i{
        width: 300px;
        text-align: center;
        color: #fff;
        
    }
    .cada-servico h4{
        color: #fff;
        text-align: center;
    }
    .cada-servico p{
        color: #fff;
        text-align: center;
        margin-top: 12px;
        padding: 2px;
        font-size: 13px;
        
    }

    .cada-servico{
        width: 300px;
        height: 120px;
        background-image:linear-gradient(200deg,rgb(17, 116, 17),rgb(250, 9, 9)) ;
        border-radius: 40px 5px;
        /* margin-top: 100px; */
        box-shadow: 2px 3px 4px 1px  grey;

    }
    .localizacao{
        position: relative;
        top: 10%;
        left: 10%;
        padding: 10px 0px;
        
    }
    .localizacao iframe {
        width: 300px;
        height: 200px;
        border-radius: 12px;
        margin-top: 27px;
        
    }
    .localizacao h3{
        color: green;
        text-align: center;
        
    }
    .rodape h3,i{
        color: white;
        font-size: 9px;
    }

    .rodape p{
        color: #fff;
        font-size: 7px;
    }

    .endereco{
        position: relative;
        left: 0%;
        top: 10%;
        text-align: center;
    }
}